{% extends 'base.html' %}

{% block content %}

<h2>Listado de Libros</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Valoracion</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.valoracion }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay libros registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}