<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Ejemplo de Plantillas</title>
</head>
<body>
 {% if login %}
 <p>Usuario logueado</p>
 <p>El nombre es: {{ nombre|title }} {{ apellido|upper }}</p>
 <p>La hora es: {{ hora|time }}</p>

 {% if items %}
 {% for item in items %}
 <li>{{ item|first|upper }}</li>
 {% endfor%}
 {% else %}
 <p>no contiene items</p>
 {% endif%}

 {% else %}
 <p>No se encuentra logueado</p>

 {% endif %}

</body>
</html>